COMPOSE_PROJECT_NAME=upholsteryfabric-site
TZ=Asia/Shanghai

WP_SITE_URL=https://upholsteryfabric.net
WP_SITE_TITLE=UpholsteryFabric.net
WP_TAGLINE=Designer-inspired upholstery and jacquard fabric by the yard

WP_ADMIN_USER=admin
WP_ADMIN_PASSWORD=ChangeThisNow_2026!
WP_ADMIN_EMAIL=ops@example.com

WP_DB_NAME=upholsteryfabric_site
WP_DB_USER=upholsteryfabric_user
WP_DB_PASSWORD=ChangeThisDbPassword_2026!
WP_DB_ROOT_PASSWORD=ChangeThisRootPassword_2026!
WP_TABLE_PREFIX=wp_upholstery_
WP_DEBUG=0
